
<div class="row">
<div class="col-md-3 col-sm-6 my-5" *ngFor="let character of characters">
    <div *ngIf="characters!=null; else espera" class="card" style="width: 18rem;">
      <img src={{character.image}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{character.name}}</h5>
      </div>

      <div class="card-body">
        <a href="#" class="btn btn-primary">Show more</a>
      </div>
    </div>
  </div>
</div>
    <<ng-template #espera>Cargando personaje...</ng-template>
