<!-- <div *ngFor="let character of datos"> -->
  <div class="container">
  <table class="table" ngFor="let character of datos">
    <tr>
      <th scope="col"><img src={{datos.image}}></th>
    </tr>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Status</th>
      <th scope="col">Especie</th>
      <th scope="col">Origen</th>
    </tr>
    <tr>
      <th scope="row">Datos</th>
      <td>{{datos.name}}</td>
      <td>{{datos.status}}</td>
      <td>{{datos.species}}</td>
      <td>{{datos.origin.name}}</td>
    </tr>

  </table>
</div>
<!-- </div> -->

<!-- <ng-template #espera>Cargando personaje...</ng-template> -->

<!-- <div id="prueba">asdasd</div> -->
